body{
    font-family: 'Be Vietnam Pro', sans-serif;
}

.headline{
    border-left: 5px solid rgb(226, 14, 49);
   
    
}
.darkseagreen{
    color: darkseagreen;
}

.display-flex{
    display: flex;
}
.half-width{
    width: 40%;
   
}
.auto-margin{
    margin: auto;
}
.half-width img{
    width: 80%;
}
.btn{
    background-image: linear-gradient(rgb(64, 134, 6), rgb(34, 109, 57));
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.font
{
    font-weight: 800;
    font-size: larger;
}
.third-width
{
    width: 25%;
    margin: auto;
    border: 5px solid none;
    border-radius: 20px;
    
}
.third-width img{
    width: 50%;
   
}
.mission
{
    background-color: rgb(243, 164, 243);
}
.vission{
    background-color: rgb(162, 241, 234);
}
.goal{
    background-color: rgb(204, 163, 243);
}
.develop{
    margin-top: 100px;
    background-image: url(./images/dream-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.margin1{
    margin-left: 8%;
    margin-right:2%;
}
.margin2{
    margin-left:2%;
    margin-right: 8%;

}
.community{
    margin-top: 100px;
    background-image: url(./images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;

}
.footer{
    margin-top: 100px;
    text-align: center;
    background-color: black;
    color: white;
}
.extra
{
    margin-top: 100px;
    background-image:url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
